APP_NAME=goLaPress
APP_ENV=production
APP_URL=http://localhost:8076
APP_PORT=8076

DB_DRIVER=sqlite
DB_DSN=file:./data/golapress.db?_foreign_keys=on
MEDIA_DIR=./data/media

PLUGINS_DIR=./plugins
ENABLED_PLUGINS=activity-log,seo

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password
ADMIN_DISPLAY_NAME=Admin

SESSION_COOKIE_NAME=golapress_session
SESSION_TTL=24h
